#!/bin/bash

echo -e "\0033[0;32m>>>>> Configuring Vim package manager & packages <<<<<\033[0m"
if [ -d ~/.vim/bundle/Vundle.vim ]; then
    vim +PluginInstall +qall
else
    git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
    vim +PluginInstall +qall
fi

# TODO:Red: add ycm install and post install script, remove else clone if not needed anymore

#{{ if eq .OS "Darwin" }}
#    echo -e "\0033[0;32m>>>>> Installing YCM <<<<<\033[0m"
#    brew install cmake
#    cd ~/.vim/bundle/YouCompleteMe
#    ./install.py --clang-completer
#{{ else if (and (eq .OS "Linux") (eq .chezmoi.osRelease.id "debian" "ubuntu" "pop") }
#    echo -e "\0033[0;32m>>>>> Installing YCM <<<<<\033[0m"
#    sudo apt-get install build-essential cmake
#    cd ~/.vim/bundle/YouCompleteMe
#    ./install.py 
#{{ end }

echo -e "\0033[0;32m>>>>> Done Configuring Vim package manager & packages <<<<<\033[0m"
