{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up ZSH <<<<<\033[0m"

{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
if ! $(dpkg-query -W -f='installed' zsh &> /dev/null); then
  echo "installing zsh"
{{     if ne .chezmoi.username "root" -}}
  sudo apt install -y zsh
{{     else -}}
  apt install -y zsh
{{     end -}}
fi

{{   else if eq .chezmoi.osRelease.id "fedora" "suse" "nix" -}}
if [ ! "$(command -v zsh)"  ]; then
  echo "installing zsh"
{{     if ne .chezmoi.username "root" -}}
  sudo dnf install -y zsh
{{     else -}}
  dnf install -y zsh
{{     end -}}
fi
{{   end -}}

# Set zsh as default shell
if [ $SHELL != $(which zsh) ]; then
  echo "Changing default shell to zsh"
  chsh -s $(which zsh)
fi

echo -e "\0033[0;32m>>>>> Finish Setting Up ZSH Shell <<<<<\033[0m"
{{ end -}}
