{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up Rust tools! <<<<<\033[0m"

if ! command -v cargo &> /dev/null
then
  echo "cargo could not be found! is rust installed?"
  exit 1
fi

echo -e "\0033[0;25m>>>> Installing Eza <<<<\033[0m"]
cargo install eza

echo -e "\0033[0;32m>>>>> Finish Setting Up Rust tools! <<<<<\033[0m"
{{ end -}}

