{{ if (and ( .alacritty) ( eq .chezmoi.osRelease.id "debian" "ubuntu" "pop"))  -}}
#!/bin/bash

{{ if .old_deb -}}
echo -e "\0033[6;31m>>>>> WARNING <<<<<\033[0m"
echo -e "\0033[1;31m>>>>> Old deb version, skipping install (for now) <<<<<\033[0m"
echo -e "\0033[6;31m>>>>> WARNING <<<<<\033[0m"
# TODO: if ubuntu, add ppa. if debian, add deb
{{ else if ne .chezmoi.username "root" -}}
sudo apt install -y alacritty
{{   else -}}
apt install -y alacritty
{{   end -}}

# Check if alacritty terminfo exists, and if not, install it
if ! infocmp alacritty &> /dev/null; then
    echo -e "\0033[1;31m>>>>> Alacritty terminfo not found, installing it <<<<<\033[0m"

    # Taken from https://github.com/alacritty/alacritty/issues/3962#issuecomment-862212371
    curl -sSL https://raw.githubusercontent.com/alacritty/alacritty/master/extra/alacritty.info | tic -x -
fi

{{ end -}}
