{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up Rust tools! <<<<<\033[0m"

if ! command -v cargo &> /dev/null; then
  echo "cargo could not be found! is rust installed? trying to source"
  source {{ .chezmoi.homeDir }}/.cargo/env && echo "sourced rust env!"
  if ! command -v cargo &> /dev/null; then
    echo "cargo still not found, exiting"
    exit 1
  fi
fi

echo -e "\0033[0;25m>>>> Installing Eza <<<<\033[0m"]
cargo install eza

echo -e "\0033[0;25m>>>> Installing mcFly <<<<\033[0m"]
cargo install mcfly

echo -e "\0033[0;25m>>>> Installing du-dust <<<<\033[0m"]
cargo install du-dust

echo -e "\0033[0;25m>>>> Installing gitui <<<<\033[0m"]
cargo install gitui

echo -e "\0033[0;25m>>>> Installing TealDeer (TLDR) <<<<\033[0m"]
cargo install tealdeer

{{ if .trippy -}}
echo -e "\0033[0;25m>>>> Installing trippy <<<<\033[0m"]
cargo install trippy
{{- end }}

echo -e "\0033[0;25m>>>> Installing cargo-update <<<<\033[0m"]
{{  if ne .chezmoi.username "root" -}}
sudo apt install -y pkg-config libssl-dev
{{ else -}}
apt install -y pkg-config libssl-dev
{{- end }}
cargo install cargo-update

echo -e "\0033[0;32m>>>>> Finish Setting Up Rust tools! <<<<<\033[0m"
{{ end -}}

