{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $minikube := promptBool  "minikube" -}}
{{- $rss := promptBool  "rss" -}}
{{- $AWS := promptBool  "AWS" -}}
{{- $Terraform := promptBool  "Terraform" -}}
{{- $kube := promptBool  "kube" -}}
{{- $vscode := promptBool  "vscode" -}}
{{- $vault := promptBool  "vault" -}}
{{- $trippy := promptBool  "trippy (tracert rust)" -}}
{{- $alacritty := promptBool "Alacritty?" -}}
{{- $nalapt := false -}}
{{- $old_deb := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu" "pop")) -}}
{{-   $nalapt = promptBool  "nalapt" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    minikube = {{ $minikube }}
    rss = {{ $rss }}
    AWS = {{ $AWS }}
    nalapt = {{ $nalapt }}
    Terraform = {{ $Terraform }}
    kube = {{ $kube }}
    vscode = {{ $vscode }}
    vault = {{ $vault }}
    alacritty = {{ $alacritty }}
    trippy = {{ $trippy }}
{{ if (and (eq .chezmoi.osRelease.id "debian" "ubuntu") (eq .chezmoi.osRelease.versionID "20.04" "20.10" "21.04" "21.10" "22.04" "22.10" "8" "9" "10")) -}}
    old_deb = true
{{ else -}}
    old_deb = {{ $old_deb }}
{{ end -}}

[git]
    autoAdd = true
