{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $minikube := promptBool  "minikube" -}}
{{- $rss := promptBool  "rss" -}}
{{- $AWS := promptBool  "AWS" -}}
{{- $Terraform := promptBool  "Terraform" -}}
{{- $kube := promptBool  "kube" -}}
{{- $vscode := promptBool  "vscode" -}}
{{- $vault := promptBool  "vault" -}}
{{- $nalapt := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian")) -}}
{{- $nalapt = promptBool  "nalapt" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    minikube = {{ $minikube }}
    rss = {{ $rss }}
    AWS = {{ $AWS }}
    nalapt = {{ $nalapt }}
    Terraform = {{ $Terraform }}
    kube = {{ $kube }}
    vscode = {{ $vscode }}
    vault = {{ $vault }}

[git]
    autoAdd = true
