{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $minikube := promptBool . "minikube" "Are you using minikube?" -}}
{{- $rss := promptBool . "rss" "Do you want to enable RSS?" -}}
{{- $AWS := promptBool . "AWS" "Do you want to enable AWS?" -}}
{{- $Terraform := promptBool . "Terraform" "Do you want to enable Terraform?" -}}
{{- $kube := promptBool . "kube" "Do you want to enable kubectl?" -}}
{{- $vscode := promptBool . "vscode" "Do you want to enable vscode?" -}}
{{- $vault := promptBool . "vault" "Do you want to enable vault?" -}}
{{- $nalapt := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian")) -}}
{{- $nalapt = promptBool . "nalapt" "Do you want to enable nala frontend?" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    minikube = {{ $minikube }}
    rss = {{ $rss }}
    AWS = {{ $AWS }}
    nalapt = {{ $nalapt }}
    Terraform = {{ $Terraform }}
    kube = {{ $kube }}
    vscode = {{ $vscode }}
    vault = {{ $vault }}

[git]
    autoCommit = true
    commitMessageTemplate = {{ promptString "commit message" | quote }}
