[user]
	signingKey = 7BC8179CBF4F8D249EE6A63F682B1867675E231B
	name = alon-rose
	email = alon.rosenwasser@ourbond.com
[credential]
	helper = store
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[commit]
	gpgsign = true
